* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4c4c4c;
}

.flex-container {
    display: flex;
    align-items: center;
}

#mobile {
    display: none;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 64px;
}

header h1 {
    margin-left: 24px;
}

nav {
    flex-grow: 1;
    text-align: right;
    margin-right: 24px;
}

nav ul li{
    text-decoration: none;
    display: inline-block;
    margin-right: 16px;
    
}

.img-container {
    width: 60%;
    height: auto;
    overflow: hidden;
}

.img-padding {
    padding: 32px 24px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.banner {
    background-color: #d8d8d8;
    color: #4a4a4a;
    position: relative;
    top: 64px;
}

.banner-content {
    font-size: 24px;
    width: 30%;
}

.banner-content h1,
.banner-content p,
.banner-content button {
    margin: 0 0 20px;
}

button {
    padding: 8px 30%;
    background-color: #4a4a4a;
    color: white;
    font-size: 18px;
}

.information-section, .exhibit-section {
    position: relative;
    top: 64px;
    width: 100%;
    align-items: flex-start;
}

.testimonials {
    padding: 32px 24px;
    width: 60%;
    border-right: 3px solid #f3f5f5;
}

.exhibit-video {
    padding: 32px 24px;
    width: 60%;
}

.exhibit-video video {
    max-width: 100%;
    height: auto;
    display: block;
}

.featured-events, .exihibit-events {
    width: 40%;
    padding-top: 16px;
}

.featured-events figure, .exhibit-events figure {
    width: 35%;
}

.featured-events .text-content, .exhibit-events .text-content {
    width: 65%;
    padding-left: 24px;
}

.featured-events article, .exhibit-events article  {
    padding: 16px;
    border-bottom: 3px solid #f3f5f5;
}

.testimonials h2 {
    padding: 32px 0 24px 0;
    font-size: 32px;
    color: #4a4a4a;
}

#attribution {
    padding: 32px 0;
}

.text-content :is(h4, p, a) {
    margin-bottom: 8px;
}

.exhibit-video article :is(h4, p) {
    margin: 24px 0 8px;
}

a {
    text-decoration: none;
}

.learning-section {
    background-color: #eaebec;
    position: relative;
    top: 60px;
}

.learning-section h2 {
    font-size: 2rem;
    padding-top: 32px;
    text-align: center;
}

.learning-section .flex-container {
    flex-wrap: wrap;
    padding: 16px 56px;

}

.learning-course {
    background-color: white;
    flex: 1 1 25%;
    height: 350px;
    margin: 16px;
    text-align: start;
}

.learning-course .text-content{
    margin: 16px;
}

.learning-course .text-content :is(h4, p) {
    padding-bottom: 8px;
}

.exhibit-events {
    flex-wrap: wrap;
    flex: 1 1 30%;
}

.exhibit-section .exhibit-events {
    position: relative;
    top: -66px;
}

footer {
    position: relative;
    top: 65px;
    font-size: 0.8rem;
    border-top: 1px solid #d8d8d8;
}

footer p, footer ul{
    padding: 16px 0 50px 24px;
    
}

footer ul {
    flex-grow: 1;
    text-align: right;
}

footer ul li {
    display: inline-block;
    margin-right: 16px;
}

.exhibit-section h2 {
    text-align: center;
    padding-top: 32px;
    font-size: 2.5rem;
}



@media only screen and (max-width: 768px) {
    #desktop, header h1 {
        display: none;
    }

    #mobile {
        display: block;
        text-align: center;
    }

    #mobile ul {
        display: flex;
        justify-content: space-evenly;
    }

    .banner {
        flex-direction: column;
    }
    
    .banner .img-container {
        width: 100%;
        padding: 0;
    }

    .banner .banner-content {
        width: 100%;
        text-align: start;
        padding: 32px 16px;
    }

    #button {
        display: block;
        margin: 0 auto;
    }

    .testimonials {
        display: none;
    }

    .featured-events {
        flex-grow: 1;
    }

    .learning-section #start {
        font-size: 3rem;
        font-weight: 700;

    }

    .exhibit-video {
        flex-grow: 1;
    }

    .exhibit-events {
        display: none;
    }

    .learning-section #mobile h2 {
        background-color: #d8d8d8;
        color: #4b4b4b;
        padding: 16px 0 24px 16px;
        margin-bottom: 8px;
    }


    


    





    
}